<div id="form">
  <div id="titulo-form">
    <h1>Editar equipamento</h1>
  </div>
  <div>
    <div style="margin-bottom: 30px;">
      <mat-label id="label">Número de serie</mat-label>
      <input id="input-form" matInput >

      <mat-label>Fabricante</mat-label>
      <input id="input-form" matInput >

      <mat-label>Tipo de equipamento</mat-label>
      <input id="input-form" matInput >
    </div>

    <div style="margin-bottom: 30px;">
      <mat-label id="label">Subestação</mat-label>
      <input id="input-form" matInput >

      <mat-label>Data de entrada em operação</mat-label>
      <input id="input-form-date" matInput >

      <mat-label>Nível de tensão</mat-label>
      <input id="input-form" matInput >
    </div>

    <div>
      <mat-label id="label">Status</mat-label>
      <input id="input-form" matInput >

      <mat-label>Observações</mat-label>
      <input id="input-form" matInput >
    </div>
  </div>
    <div id="container-botao">
      <button type="submit" color="primary" id="button-salvar">Atualizar</button>
    </div>


