:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .mat-toolbar {
    background-color: #0b8223;
    color: white;
    font-weight: 400;
  }
  
  table {
    width: 100%;
  }

  #button-edit{
    background-color: cornflowerblue;
    border-radius: 10;
  }

  #button-delete{
    background-color: rgb(238, 6, 6);
    border-radius: 10;
  }
